*{
  padding: 0;
  margin: 0;
}
html,body{
  width: 100%;
  height: 100%;
}
.head{
  margin-top: 50px;
}
.account-flex{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border-bottom: 1px solid gainsboro;
}
.account-flex1{
  display: flex;
  align-items: center;
  height: 68px;
}
.account-flex2{
  display: flex;
  justify-content: center;
}
.account-point{
  margin-left: 24px;
}
.account-text{
  color: gainsboro;
  margin-bottom: 10px;
}
.account-color{
  color: red;
}

